* 
{
    box-sizing: border-box;
}
body
{
    background-color:darkgray;
}
#search
{
    margin:5px;
    width:100px;
}
figure
{
    padding:0px;
    margin:5px;
    margin-bottom:2px;
}
img
{
    position:inherit;
    left:0px;
    top:0px;
}
#menu
{
    margin:10px;
    width:120px;
    background-color:dimgray;
    float:left;
}
#bottone {
    background-color: #f2bd43;
    margin: 5px;
    margin-top: 2px;
    width: 100px;
}

#advc
{   
    border:none;
    background-color:#ff0000;
    margin-top:10px;
    position:relative;
    left:140px;
    top:10px;
    z-index: 2;
}
#special
{

}
td
{
    width:50px;
    border:none;
}